body {
  /* background: #4B79A1;
    background: -webkit-linear-gradient(to left, #4B79A1 , #283E51);
    background: linear-gradient(to left, #4B79A1 , #283E51);  */
  /* font-family: 'Noto Sans', sans-serif; */
  margin: 0px;
}
h1 {
  text-align: center;
  font-size: 2.4em;
  /* color: #f2f2f2; */
  margin: 0 !important;
}
.container {
  display: block;
  text-align: center;
}

.rwd-table {
  margin: auto;
  min-width: 300px;
  max-width: 100%;
  border-collapse: collapse;
}

.rwd-table tr:first-child {
  border-top: none;
  background: #428bca;
  color: #fff;
}

.rwd-table tr {
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  background-color: #f5f9fc;
}

.rwd-table tr:nth-child(odd):not(:first-child) {
  background-color: #ebf3f9;
}

.rwd-table th {
  display: none;
}

.rwd-table td {
  display: block;
}

.rwd-table td:first-child {
  margin-top: 0.5em;
}

.rwd-table td:last-child {
  margin-bottom: 0.5em;
}

.rwd-table td:before {
  content: attr(data-th) ': ';
  font-weight: bold;
  width: 120px;
  display: inline-block;
  color: #000;
}

.rwd-table th,
.rwd-table td {
  text-align: left;
}

.rwd-table {
  color: #333;
  border-radius: 0.4em;
  overflow: hidden;
}

.rwd-table tr {
  border-color: #bfbfbf;
}

.rwd-table th,
.rwd-table td {
  padding: 0.5em 1em;
}
@media screen and (max-width: 601px) {
  .rwd-table tr:nth-child(2) {
    border-top: none;
  }
}
@media screen and (min-width: 600px) {
  .rwd-table tr:hover:not(:first-child) {
    background-color: #d8e7f3;
  }
  .rwd-table td:before {
    display: none;
  }
  .rwd-table th,
  .rwd-table td {
    display: table-cell;
    padding: 0.25em 0.5em;
  }
  .rwd-table th:first-child,
  .rwd-table td:first-child {
    padding-left: 0;
  }
  .rwd-table th:last-child,
  .rwd-table td:last-child {
    padding-right: 0;
  }
  .rwd-table th,
  .rwd-table td {
    padding: 1em !important;
  }
}

.card {
  width: 250px;
  height: 250px;
  margin: 2em;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-radius: 5px;
  color: #26b170;

  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

.card h2 {
  color: #71717a;
  font-weight: 500;
}

.step4-table-container {
}

.step4-table {
  border-collapse: collapse;
  border-radius: 5px;
  border-style: hidden; /* hide standard table (collapsed) border */
  box-shadow: 0 0 0 1px rgb(228, 228, 231);
  font-size: 14px;
  color: #09090b;
  margin: auto;
  transition: all 0.25s ease-in-out;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

.step4-table th {
  /* background-color: #0c1c81; */
  border-radius: 10px;
  color: #71717a;
  font-weight: 500;
  white-space: nowrap;
  padding: 8px;
  text-align: left;
}

.step4-table td {
  padding: 10px 8px;
  text-align: left;
}

.step4-table tr {
  border-bottom: 1px solid rgb(228, 228, 231);
}
.step4-table tr:hover {
  background-color: rgba(244, 244, 245, 0.5);
}

.step4-table tr td:first-child {
  padding-left: 20px;
}

.step4-table tr th:first-child {
  padding-left: 20px;
}

.step4-table tr td:last-child {
  padding-right: 20px;
}

.step4-table tr th:last-child {
  padding-right: 20px;
}

.step4-table tr td a {
  text-decoration: none;
  color: #0c1c81;
}

.step4-table tr td a:hover {
  text-decoration: none;
  color: #2c71f0;
}

/* .card:hover{
    color:white;
} */

/* .card::before, .card::after{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgb(243,243,243);
    z-index: -1;
    border-radius: 10px;
    transition: all 1s;
}

.card::after{
    background: #26b170;
    transform-origin: right bottom;
    transform : translate(10%,10%) scale(0.3);
    border-radius: 50%;
    transition: all 1s;
}

.card:hover::after{
    transform: translate(0) scale(1);
    border-radius: 0;
    border-radius: 10px;
}

.card:hover::before{
    transform-origin: right bottom;
    transform: translate(10%,10%) scale(0.3);
    border-radius: 50%;
    z-index: 1;
} */

.diw-container {
  max-width: 700px;
  margin: 20px auto;
  padding: 20px;
  background-color: #ffffff;

  /* background-color: #d0fce7f7; */

  /* background-color: rgba(38, 177, 112, 0); Transparent background */

  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}
