body {
  background-color: #add8e6;
  font-family: Arial, sans-serif;
  margin: 0 300px;
}

.form-container,
.drop-zone-container,
.table-container {
  max-width: 600px;
  margin: 20px auto;
  padding: 20px;
  background-color: #ffffff;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

form h2 {
  text-align: center;
  color: #333333;
}

.form-block-spacing {
  margin-bottom: 10px;
}

#second-row {
  display: flex;
}

#makeBlock {
  flex: 0 0 50%;
  margin-right: 10px;
}

#typeBlock {
  margin-right: 10px;
  flex: 30%;
}

#yearBlock {
  flex: 20%;
}

.description-block,
.make-block,
.type-block,
.year-block {
  width: 100%;
  display: block;
  border: 1px solid #cccccc;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  padding: 10px;
  border-radius: 10px;
  transition: border-color 0.3s;
}

.description-block {
  height: 100px;
}

.make-block,
.type-block,
.year-block {
  height: 50px;
}

.description-block label,
.make-block label,
.type-block label,
.year-block label {
  color: #9da3a8;
  font-size: 15px;
  transition: font-size 0.3s, transform 0.3s;
}

.description-block label {
  margin-bottom: 5px;
}

.description-block textarea,
.make-block input,
.type-block select,
.year-block select {
  border: none;
  outline: none;
}

.description-block.active,
.make-block.active,
.type-block.active,
.year-block.active {
  border-color: #2c71f0;
}

.description-block label.active,
.make-block label.active,
.type-block label.active,
.year-block label.active {
  font-size: 12px;
}

/* form label {
  display: block;
  margin-top: 10px;
} */

/* form input[type='text'],
form input[type='number'],
form select {
  width: 100%;
  padding: 8px;
  margin-top: 5px;
  border-radius: 4px;
  border: 1px solid #cccccc;
  box-sizing: border-box;
}

form input[type='checkbox'] {
  margin-top: 5px;
}

form button {
  display: block;
  width: 100%;
  padding: 10px;
  margin-top: 20px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

form button:hover {
  background-color: #0056b3;
} */
