body {
    background: #4B79A1;
    background: -webkit-linear-gradient(to left, #4B79A1 , #283E51);
    background: linear-gradient(to left, #4B79A1 , #283E51); 
    font-family: Arial, sans-serif;
    margin: 0px;       
    }
    h1 {
      text-align: center;
      font-size: 2.4em;
      color: #f2f2f2;
    }
    .container {
      display: block;
      text-align: center;
    }

.rwd-table {
    margin: auto;
    min-width: 300px;
    max-width: 100%;
    border-collapse: collapse;
  }
  
  .rwd-table tr:first-child {
    border-top: none;
    background: #428bca;
    color: #fff;
  }
  
  .rwd-table tr {
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    background-color: #f5f9fc;
  }
  
  .rwd-table tr:nth-child(odd):not(:first-child) {
    background-color: #ebf3f9;
  }
  
  .rwd-table th {
    display: none;
  }
  
  .rwd-table td {
    display: block;
  }
  
  .rwd-table td:first-child {
    margin-top: .5em;
  }
  
  .rwd-table td:last-child {
    margin-bottom: .5em;
  }
  
  .rwd-table td:before {
    content: attr(data-th) ": ";
    font-weight: bold;
    width: 120px;
    display: inline-block;
    color: #000;
  }
  
  .rwd-table th,
  .rwd-table td {
    text-align: left;
  }
  
  .rwd-table {
    color: #333;
    border-radius: .4em;
    overflow: hidden;
  }
  
  .rwd-table tr {
    border-color: #bfbfbf;
  }
  
  .rwd-table th,
  .rwd-table td {
    padding: .5em 1em;
  }
  @media screen and (max-width: 601px) {
    .rwd-table tr:nth-child(2) {
      border-top: none;
    }
  }
  @media screen and (min-width: 600px) {
    .rwd-table tr:hover:not(:first-child) {
      background-color: #d8e7f3;
    }
    .rwd-table td:before {
      display: none;
    }
    .rwd-table th,
    .rwd-table td {
      display: table-cell;
      padding: .25em .5em;
    }
    .rwd-table th:first-child,
    .rwd-table td:first-child {
      padding-left: 0;
    }
    .rwd-table th:last-child,
    .rwd-table td:last-child {
      padding-right: 0;
    }
    .rwd-table th,
    .rwd-table td {
      padding: 1em !important;
    }
  }

  .bars {
    background-color: blue;
    height: 25px;
    margin: 10px 0 0 0;
    -webkit-transition:width 1s ease-in;
    -moz-transition:width 1s ease-in;
    -o-transition:width 1s ease-in;
    transition:width 1s ease-in;
    }
    #bar0 {
    position: relative;
    }
    #bar1 {
    position: relative;
    }
    #bar2 {
    position: relative;
    }
    p {
    margin: 0;
    }
    .number {
    color: white;
    text-align: right;
    padding: 3px;
    font-size: 12px; 
    }
    #cat {
    padding-top: 5px;
    }
    #main
    {
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    overflow: auto;
    padding: 10px;
    margin-top: 10px;
    }
    /* .tooltip {
        
        display:none;
        background: beige;
        font-size:14px;
        height:25px;
        border-radius: 5px;
        padding-top: 2px;
        padding-left: 5px;
        padding-right: 5px;
        padding-bottom: 0px;
        color: black;
        border: 1px solid black;  
      } */
    