body {
  /* font-family: Arial, sans-serif; */
  font-family: 'Varela Round', sans-serif;
}

.opensans {
  font-family: 'Open Sans', sans-serif;
}

.verala-bold {
  text-shadow: 0px 0px 1px rgba(0, 0, 0, 0.5);
}

#mainContent {
  margin: 50px auto;
}

.active {
  font-weight: bold;
}

/* .nav-bar {
    margin-top: 50px;
} */

#steps {
  display: flex;
  justify-content: center;
}

.nav-bar ul {
  list-style-type: none;
}

.nav-bar ul li {
  margin-right: 30px;
}

.action-btns {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  gap: 30px;
}

.action-btns button {
  padding: 10px 30px;
  border-radius: 5px;
  border: solid 1px black;
  background: white;
}

.action-btns button:disabled {
  cursor: not-allowed;
  color: white;
  background-color: #9da3a8;
}

.action-btns button:enabled {
  background: black;
  color: white;
  cursor: pointer;
}

.toast {
  position: fixed;
  top: 20px;
  right: 20px;
  padding: 10px 20px;
  color: #fff;
  border-radius: 5px;
  z-index: 1000;
  animation: fadeOut 3s forwards;
}

.toast-success {
  background-color: #4caf50; /* Green */
}

.toast-error {
  background-color: #f44336; /* Red */
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  80% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
