body {
  font-family: 'Noto Sans', sans-serif;
  background-color: white;
  color: #09090b;
}

.verala-bold {
  text-shadow: 0px 0px 1px rgba(0, 0, 0, 0.5);
}

#mainContent {
  margin: 50px auto;
}

.nav-bar {
  margin-top: 50px;
}

h1,
h2,
h3,
h4 {
  font-weight: 500;
}

#steps {
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav-bar ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.nav-bar li {
  display: flex;
  align-items: center;
  /* margin: 0 20px; */
  transition: opacity 0.3s ease;
}

.step-line {
  background-color: grey;
  height: 1.5px;
  width: 50px;
  opacity: 0.5;
  margin: 0 20px;
}

.nav-bar li span {
  margin: 0 5px;
}

.step-checkmark {
  display: flex;
  justify-content: center;
  padding: 5px;
  border: 1px solid #09090b;
  border-radius: 50%;
  color: #09090b;
}

.active .step-label {
  /* color: #37a345; */
  /* font-weight: 600; */
}

.active .step-line {
  /* background-color: #37a345; */
}

.completed .step-line {
  background-color: #37a345;
}

.active .step-checkmark {
  /* border-color: #37a345; */
  /* background-color: #37a345; */
}

.active .step-checkmark svg {
  /* fill: white; */
}

.completed .step-label {
  color: #37a345;
  /* font-weight: 600; */
}

.completed .step-checkmark svg {
  fill: white;
}

.completed .step-checkmark {
  border-color: #37a345;
  background-color: #37a345;
}

.nav-bar li:not(.active):not(.completed) .step-checkmark,
.nav-bar li:not(.active):not(.completed) .step-label {
  opacity: 0.3;
}

.action-btns {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  gap: 30px;
}

.action-btns button {
  padding: 8px 30px;
  min-width: 40px;
  border-radius: 5px;
  border: solid 1px #37a345;
  color: white;
  background-color: #37a345;
  transition: all 0.25s ease-out;
}

.action-btns button:hover {
  background-color: #4bac57;
  color: white;
  cursor: pointer;
}

.action-btns button:disabled {
  cursor: not-allowed;
  opacity: 0.5;
}

/* .action-btns button:enabled {
  background: black;
  color: white;
  cursor: pointer;
} */

.toast {
  position: fixed;
  top: 20px;
  right: 20px;
  padding: 10px 20px;
  color: #fff;
  border-radius: 5px;
  z-index: 1000;
  animation: slideInFadeOut 3s forwards;
}

.toast-success {
  background-color: #4caf50;
}

.toast-error {
  background-color: #f44336;
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  80% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes slideInFadeOut {
  0% {
    right: -100%;
    opacity: 0;
  }
  10% {
    right: 20px;
    opacity: 1;
  }
  90% {
    right: 20px;
    opacity: 1;
  }
  100% {
    right: 20px;
    opacity: 0;
  }
}
