body,
html {
  margin: 0;
  font-family: 'Varela Round', sans-serif;
}

.open-sans {
  font-family: 'Open Sans', sans-serif;
}

body {
  /* font-family: 'Noto Sans', sans-serif; */
  background-color: white;
  color: #09090b;
  overflow-x: hidden;
}

.verala-bold {
  text-shadow: 0px 0px 1px rgba(0, 0, 0, 0.5);
}

#mainContent {
  margin: 0 0 0 0;
  padding: 3px;
  width: 100%;
}

.header-size {
  font-size: x-large;
}

/* .nav-bar {
  padding: 20px 0 20px 0;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #fff;
  z-index: 1000;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  //display: flex;
  //align-items: center;

} */
.nav-bar {
  padding: 0 0; /* Adjust padding as needed */
  /* position: fixed; */
  top: 0;
  left: 0;
  width: 100%;
  background-color: #fff;
  z-index: 1000;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  display: flex;
  /* justify-content: space-between; Distribute space between items */
  align-items: center; 
  /* background-color: #9fe39a; Add background color */

  background-color: white; /* Add background color */

}

.logo {
  width: 150px; /* Adjust width as needed */
  height: auto; /* Maintain aspect ratio */
  margin-right: 20px; /* Adjust margin as needed */
}

.steps {
  flex: 1; /* Take remaining space */
  display: flex;
  justify-content: center; /* Center items horizontally */
  align-items: center; /* Align items vertically */
  list-style-type: none; /* Remove bullet points */
  padding: 0;

}
/* Adjust styling for individual steps as needed */
.steps li {
  margin-right: 10px; /* Adjust spacing between steps */
}




h1,
h2,
h3,
h4 {
  font-weight: 500;
}

#steps {
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav-bar ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.nav-bar li {
  display: flex;
  align-items: center;
  /* margin: 0 20px; */
  transition: opacity 0.3s ease;
}

.step-line {
  background-color: grey;
  height: 1.5px;
  width: 50px;
  opacity: 0.5;
  margin: 0 20px;
}

.nav-bar li span {
  margin: 0 5px;
}

.step-checkmark {
  display: flex;
  justify-content: center;
  padding: 5px;
  border: 1px solid #09090b;
  border-radius: 50%;
  color: #09090b;
}

/* .active .step-label {
  color: #37a345;
  font-weight: 600;
} */

/* .active .step-line {
  background-color: #37a345;
} */

.completed .step-line {
  background-color: #26b170;
}

/* .active .step-checkmark {
  border-color: #37a345;
  background-color: #37a345;
} */

/* .active .step-checkmark svg {
  fill: white;
} */

.completed .step-label {
  color: #26b170;
  /* font-weight: 600; */
}

.completed .step-checkmark svg {
  fill: white;
}

.completed .step-checkmark {
  border-color: #26b170;
  background-color: #26b170;
}

.nav-bar li:not(.active):not(.completed) .step-checkmark,
.nav-bar li:not(.active):not(.completed) .step-label {
  opacity: 0.3;
}

.action-btns {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  gap: 30px;
}

.action-btns button {
  padding: 8px 30px;

  padding: 12px 40px;
  min-width: 80px;
  border-radius: 5px;
  /* border: solid 1px #26b170; */
  border: solid 1px #0c1c81;

  color: white;
  background-color: #0c1c81;
  transition: all 0.25s ease-out;
  margin: 25px;
}

.action-btns button:hover {
  background-color: #0c1c81;
  color: white;
  cursor: pointer;
  transform: scale(1.1); /* Increase size by 10% on hover */

}

.action-btns button:disabled {
  cursor: not-allowed;
  opacity: 0.5;
}

/* .action-btns button:enabled {
  background: black;
  color: white;
  cursor: pointer;
} */

.toast {
  position: fixed;
  top: 20px;
  right: 20px;
  padding: 10px 20px;
  color: #fff;
  border-radius: 5px;
  z-index: 1000;
  animation: slideInFadeOut 3s forwards;
}

.toast-success {
  /* background-color: #4caf50; */
  background-color: #26b170;
}

.toast-error {
  background-color: #f44336;
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  80% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes slideInFadeOut {
  0% {
    right: -100%;
    opacity: 0;
  }
  10% {
    right: 20px;
    opacity: 1;
  }
  90% {
    right: 20px;
    opacity: 1;
  }
  100% {
    right: 20px;
    opacity: 0;
  }
}
.container {
  padding: 300px; /* Adjust this value to reduce the padding */
}

.image-container {
  width: 100%; /* Adjust width as needed */
  height: 300px; /* Adjust height as needed */
  background-position: center; /* Center the background image */
  background-repeat: no-repeat; /* Prevent the background image from repeating */
  background-size: cover; /* Cover the entire container with the background image */
}

.background-image {
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.customer-font {
  text-align: center;
  color: #26b170;
  margin-bottom: 5px;
}

.image-container {
  width: 100%;
  height: 100vh;
  background-size: cover;
}

.image-container:nth-child(1) {
  background-image: url('car1.jpg');
}

.image-container:nth-child(2) {
  background-image: url('car2.jpg');
}

.image-container:nth-child(3) {
  background-image: url('car3.jpg');
}