h1 {
    text-align: center;
    font-size: 2.4em;
    /* color: #f2f2f2; */
}

.container {
    display: block;
    text-align: center;
}


.bars {
    /* background-color: rgb(245, 245, 246); */
    background-color: #26b170;

    height: 50px;
    margin: 10px 0 0 0;
    -webkit-transition: width 1s ease-in;
    -moz-transition: width 1s ease-in;
    -o-transition: width 1s ease-in;
    transition: width 1s ease-in;
}

#bar0 {
    position: relative;
}

#bar1 {
    position: relative;
}

#bar2 {
    position: relative;
}

p {
    margin: 0;
}

.number {
    color: white;
    text-align: right;
    padding: 3px;
    font-size: 12px;
}

#cat {
    padding-top: 5px;
}

#main {
    /* border-top: 1px solid black;
    border-bottom: 1px solid black; */
    overflow: auto;
    padding: 10px;
    margin-top: 10px;
    margin: 0 auto; /* Set left and right margins to auto */
    width: fit-content; /* Set the width to fit the content */
    /* background-color: #ffffff; */
    background-color: rgba(38, 177, 112, 0); /* Transparent background */


}

/* .tooltip {
        
        display:none;
        background: beige;
        font-size:14px;
        height:25px;
        border-radius: 5px;
        padding-top: 2px;
        padding-left: 5px;
        padding-right: 5px;
        padding-bottom: 0px;
        color: black;
        border: 1px solid black;  
      } */

.container {
    text-align: center;
    margin-top: 20px;
    padding: 10px;
}

#csvFileInput {
    text-align: center;
}

.button-container {
    margin: 30px 0;
}

.upload-btn,
.download-btn,
.print-btn {
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    color: #37a345;
    background-color: white;
    border: 1px solid #37a345;
    transition: all 0.25s ease-in-out;
}

.button-container button:hover {
    background-color: #37a345;
    color: white;
}

.upload-btn {
    /* background-color: #007bff; */
}

.download-btn {
    margin-left: 10px;
    /* background-color: #007bff; */
}

.print-btn {
    margin-left: 10px;
    /* background-color: #007bff; */
}

/* Define the animation */
@keyframes moveText {
    from { right: 100%; }
    to { left: 100%; }
}

/* Apply the animation to the text */
.moving-text {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    animation: moveText 10s linear infinite; /* Adjust duration and timing as needed */
    cursor: pointer;
    color: black;
    /* Change text color to black */
    width: auto; /* Set a fixed width */
    height: auto; /* Set a fixed height */
}

 /* Define animation keyframes */
 @keyframes moveLeftToRight {
    0% { left: -200px; }
    100% { left: calc(100% - 50px); }
  }

  /* Apply animation to the link */
  .moving-link {
    position: relative;
    animation: moveLeftToRight 20s linear infinite alternate;
    text-decoration: none;
    color: #26b170;
    font-family: Arial, sans-serif;
    font-size: 18px;
    padding: 10px 20px; /* Adjusted padding */
    border: 2px solid #000;
    border-radius: 5px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: inline-block; /* Ensure the link only takes up necessary space */
  }
  .moving-link:hover {
    background-color: rgb(232, 244, 176); /* Change the background color */

  }
  .moving-link:active {
    background-color: rgb(232, 244, 176); /* Change background color when button is clicked */
  }
/* Add a class for the container of the moving links */
.links-container:hover .moving-link {
    animation-play-state: paused;
  }

    /* Style for the download icon */
    .download-icon {
        margin-left: 10px; /* Add some space between text and icon */
      }

      /* CSS for hover effect */
.bars:hover {
    transform: scale(1.2); /* Increase size by 10% on hover */
    transition: transform 0.3s ease; /* Smooth transition effect */
  }
  
  .nameDiv:hover {
    transform: scale(1.2); /* Increase size by 10% on hover */
    transition: transform 0.3s ease; /* Smooth transition effect */
  }

  ::-webkit-scrollbar {
    display: none;
}