h1 {
    text-align: center;
    font-size: 2.4em;
    /* color: #f2f2f2; */
  }
  .container {
    display: block;
    text-align: center;
  }
  

.bars {
    background-color: blue;
    height: 25px;
    margin: 10px 0 0 0;
    -webkit-transition:width 1s ease-in;
    -moz-transition:width 1s ease-in;
    -o-transition:width 1s ease-in;
    transition:width 1s ease-in;
    }
    #bar0 {
    position: relative;
    }
    #bar1 {
    position: relative;
    }
    #bar2 {
    position: relative;
    }
    p {
    margin: 0;
    }
    .number {
    color: white;
    text-align: right;
    padding: 3px;
    font-size: 12px; 
    }
    #cat {
    padding-top: 5px;
    }
    #main
    {
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    overflow: auto;
    padding: 10px;
    margin-top: 10px;
    }
    /* .tooltip {
        
        display:none;
        background: beige;
        font-size:14px;
        height:25px;
        border-radius: 5px;
        padding-top: 2px;
        padding-left: 5px;
        padding-right: 5px;
        padding-bottom: 0px;
        color: black;
        border: 1px solid black;  
      } */

      .container {
        text-align: center;
        margin-top: 20px;
    }
    
    .button-container {
        margin-top: 10px;
    }
    
    .upload-btn, .download-btn, .print-btn {
        padding: 10px 20px;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        color: #fff;
    }
    
    .upload-btn {
        background-color: #007bff;
    }
    
    .download-btn {
        margin-left: 10px;
        background-color: #007bff;
    }
    
    .print-btn {
        margin-left: 10px;
        background-color: #007bff;
    }

     /* Define the animation */
     @keyframes moveText {
      from { right: 100%; }
      to { left: 100%; }
  }

  /* Apply the animation to the text */
  .moving-text {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      animation: moveText 10s linear infinite; /* Adjust duration and timing as needed */
      cursor: pointer;
      color: black;
      /* Change text color to black */
    width: auto; /* Set a fixed width */
    height: auto; /* Set a fixed height */
  }
    
    