.heading {
  text-align: center;
  padding: 40px 0;
  font-size: 45px;
  color: #cccccc;
}

.diw-container {
  max-width: 600px;
  margin: 20px auto;
  padding: 20px;
  background-color: #26b170;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.height-50-px {
  height: 50px;
}

.margin-bottom-10-px {
  margin-bottom: 20px !important;
}

.white-background {
  background-color: white;
}

.form-field-style {
  width: 80%;
  border: 1px solid #cccccc;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  margin: auto;
  padding: 10px;
  border-radius: 10px;
  transition: border-color 0.3s;
}

.form-field-style.active {
  border-color: black;
}

.options label,
.options select {
  width: 100%;
}

.label-style {
  color: #9da3a8;
  font-size: 15px;
  transition: font-size 0.3s, transform 0.3s;
}

.label-style.active {
  font-size: 12px;
}

.remove-field-default-border {
  border: none;
  outline: none;
}
