/* .heading {
  text-align: center;
  padding-bottom: 40px;
  font-size: 35px;
  color: #09090b;
} */

.customer-font {
  margin-bottom: 40px;
}

.diw-container {
  max-width: 600px;
  margin: 20px auto;
  padding: 20px;
  background-color: white;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  border: 1px solid rgb(228, 228, 231);
}

/* 
.height-50-px {
  height: 50px;
}

.margin-bottom-10-px {
  margin-bottom: 20px !important;
}

.white-background {
  background-color: white;
}

.form-field-style {
  width: 80%;
  border: 1px solid #cccccc;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  margin: auto;
  padding: 10px;
  border-radius: 10px;
  transition: border-color 0.3s;
  height: fit-content;
}

.form-field-style.active {
  border-color: #09090b;
}

.form-field-style option {
  padding: 10px;
  color: #09090b;
}

.options label,
.options select {
  width: 100%;
}

.label-style {
  color: #9da3a8;
  font-size: 15px;
  transition: font-size 0.3s, transform 0.3s;
}

.label-style.active {
  font-size: 12px;
}

.remove-field-default-border {
  border: none;
  outline: none;
}
*/
.form-field-container-2 {
  position: relative;
  margin-bottom: 30px;
}

.form-input-2 {
  width: 100%;
  padding: 12px;
  margin: 8px 0;
  display: block;
  border: 1px solid #cccccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.form-input-2:focus {
  outline: none;
  border-color: #37a345;
}

.form-label-2 {
  font-size: 0.75em;
  position: absolute;
  top: -8px;
  left: 12px;
  transition: all 0.3s ease;
  background-color: #ffffff;
  padding: 0 10px 0 4px;
  color: #37a345;
  z-index: 1;
}
